.thanks {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    background: rgba(33, 33, 33, 1);
}

.thanks h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #fff;
}

.thanks p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #fff;
}

.thanks a {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.thanks a:active {
    transform: scale(1.1);
}
